h1{
    color: red;
}

body{
    background-color: rgb(87, 87, 230);
}

#carte{
    width: 800px;
    margin: 0 auto;
    background-color:white ;
    text-align: center;
    align-items: center;
}

ul li{
    list-style-type: none;
}